@import "colors.scss";
nav {
    .header-log {
        background-color: $color_input_active;
        box-shadow: 1px 1px 8px 7px $color_input_shadow;
    }
}
p {
    margin-bottom: 10px;
}
main {
    .main-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 30px;

        .block {
            margin-top: 35px;
        }
    }
}

